@import '../../styles/colors.scss';
@import '../../styles/vars';

.results-view {
  background: $blackRelief;
  border: $light-border;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;

  .results-view-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .results-appear {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
