@import '../../styles/mixins';
@import '../../styles/vars';

header {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: $light-border;

  .content {
    @include content-style;

    h1 {
      color: orangered;
    }
  }
}
