@import '../../styles/vars';

.movie-card {
  border: $light-border;
  width: 100%;
  //max-width: 15rem;
  padding: 1rem;

  .image-container {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    position: relative;
    border-radius: 0.5rem 0.5rem 0 0;

    .img {
      display: block;
      position: relative;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
