@import '../../styles/breakpoints.scss';

.poster-view {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: $sm) {

    .poster-view {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media (min-width: $smInter) {

    .poster-view {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}

@media (min-width: $lgInter) {

    .poster-view {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
}