@import '../../styles/vars';
@import '../../styles/colors';

footer {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: $light-border;

  .copyright {
    font-size: 0.9rem;
    font-weight: 200;
  }
}
